# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore sensitive information files
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.code-workspace

# Ignore dependencies
lib/
libs/
bin/